.choose-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.left-box,
.right-box {
  flex: 1;
  margin: 10px;
}

.left-box {
  display: flex;
  flex-direction: column;
}

.left-box .h {
  margin-left: 0px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.feature-box {
  flex: 1 1 calc(50% - 10px);
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  text-align: center;
}

.feature-box img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.overlap-img {
  position: absolute;
  width: 200px;
  height: auto;
}

.right-box {
  position: relative;
}

.overlap-img1 {
  top: 80px;
  right: 0;
  z-index: 10;
  height: 500px;
  width: 550px;
  border-radius: 20px;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  margin-right: 20px;
  margin-top:-40px
}

.overlap-img2 {
  top: -20px;
  left: 30px;
  z-index: 0;
}
