.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(59, 93, 80);
  color: #ffffff;
}

.left-box {
  flex: 1;
}

.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 0.5;
}

.description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin-left: -93px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.btn {
  padding: 12px 30px;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
  margin-left: 10px;
}

.btn.orange {
  background-color: #f9bf29;
  border-color: #f9bf29;
}

.btn:hover {
  background-color: #ffa500;
}

.right-box {
  flex: 1/2;
}

.right-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: -50px;
}

.title .title-tag {
  margin-left: -190px;
}
.title .title-tag2 {
    margin-left: -210px;
}
