.popular-product {
  padding: 20px 0;
}

.popular-product .container {
  display: flex;
  justify-content: center; /* Center the row horizontally */
  margin-top: -50px;
}

.popular-product .row {
  display: flex;
  flex-wrap: nowrap; /* Ensure items do not wrap to the next line */
  justify-content: space-between; /* Distribute space evenly between items */
  width: 100%;
  max-width: 1200px; /* Adjust the max width as needed */
}
body {
  background-color: #EFF2F1;
}