.crafted-container {
  background-color: rgb(239,242,241);
  padding: 20px;
  margin-bottom: 20px;
}

.crafted-text {
  text-align: center;
  margin-bottom: 20px;
}

.crafted-text h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.crafted-text p {
  font-size: 16px;
  color: #666;
}

.products-container {
  display: flex;
  justify-content: space-between;
}

.product-box {
  width: 22%;
  background-color:rgb(239,242,241);
  border: 1px solid #470404;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product-box:hover {
  transform: translateY(-5px);
}

.product-box img {
  width: 100%;
  height: auto;
  display: block;
}

.product-info {
  padding: 10px;
}

.product-info h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.product-info p {
  font-size: 14px;
  color: #666;
}
