.crafted-container {
  background-color: rgb(239, 242, 241);
  padding: 20px;
  margin-bottom: 20px;
}

.products-container {
  display: flex;
  justify-content: space-around; /* Adjust spacing between products */
  flex-wrap: wrap; /* Allow products to wrap onto the next line if necessary */
}

.product-box {
  position: relative;
  width: 250px; /* Set a fixed width for each product box */
  margin-bottom: 20px; /* Add margin between products */
  background-color: rgb(239, 242, 241);
  border-radius: 8px;
  overflow: hidden;
}

.product-box:not(.no-image):hover {
  background-color: rgb(200, 200, 200); /* Change background color on hover */
}

.product-box img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease; /* Transition for image transform */
}

.product-box:not(.no-image):hover img {
  transform: translateY(-10px); /* Lift images slightly up on hover */
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 97%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: rgb(213, 220, 222);
  font-size: 24px;
  width: 30px;
  height: 30px;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-box:hover .overlay {
  opacity: 1;
}

.explore-button {
  bottom: 5px;
  left: 50%;
  background-color: #000;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transform: translateX(-50%);
}

.explore-button:hover {
  background-color: #333;
}

.product-description {
  color: #2f2f2f;
  margin-bottom: 1.5rem !important;
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 500;
  line-height: 1.2;
}
